body{
    background-color: rgba(255,255, 255,0);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
header{
    position: relative;
    background-color: rgba(114, 155, 189, 0.5);
    padding: 10px 20px;
    color: rgb(2, 46, 84);
    border-radius: 15px;
    overflow: hidden;
}
img{
    block-size: 130px;
}
nav{
    position: absolute;
    top: 50%;
    right: 20px;
}
nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    padding: 0; 
}
nav ul li{
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
.sobre{
    color: rgb(45, 75, 101);
}
