* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 0);
    font-family: "Montserrat", sans-serif;
    /* font-size: 16px; */
    height: 100vh;
}

header {
    padding: 3px 6px;
    color: rgb(2, 46, 84);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: background-color 0.10s ease;
    height: 4rem;
    position: absolute;
    backdrop-filter: blur(20px);
}

header.scrolled {
    background-color: rgba(114, 155, 189, 0.2);
}

.button-login {
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
}

.div-icon img {
    width: 10rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.144)), url(/public/assets/img/praia-sobre.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sobre .sobre-text {
    width: 80%;
    margin: 4rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-text h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}

.sobre-text h2 {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.61);
}

/* INICIO DESTINOS MAIS PESQUISADOS */

.cards-all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.sec-destinos {
    background-color: rgb(255, 255, 255);
    padding: 3rem 0;
    text-align: center;
    margin-bottom: 20px;
}

.div-img-destinos {
    overflow: hidden;
    height: 13rem;
}

.div-img-destinos img {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card {
    background-color: #fff;
    box-shadow: 4px 4px 12px #5a5a5aaa;
    transition: 0.3s;
    width: 350px;
    height: 650px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-position: center center;
    object-fit: cover;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.05);
}

.card-conteudo {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-conteudo h1 {
    font-size: 1.5rem;
}

.card-conteudo h3 {
    font-size: 0.9rem;
    line-height: 1.6;
}

.card-conteudo span {
    color: green;
    font-weight: bold;
    display: block;

}

.card-conteudo button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

/* INICIO PACOTE DE VIAGEM */

.pacotes-viagem {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20rem;
}



/* INCIO DO FORMULÁRIO */
form {
    background-color: aquamarine;
    padding: 4rem 4rem;
    margin: 4rem 0rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.title-form {
    display: flex;
    align-items: center;
}

.title-form h3 {
    font-size: 3rem;
}

.radio-pacotes {
    margin: 1rem 0;
}

.nome-email div input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border-style: none;
    padding: 0rem 0.5rem;
}

textarea {
    width: 100%;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border-style: none;
    padding: 0rem 0.5rem;
}

.div-label-input {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.radio-pacotes input {
    margin-left: 1rem;
}

/* ACIMA DOS VIDEOS */

.titulo-local {
    padding: 0rem 4rem;
}

.locais {
    /* background-color: #1b411c; */
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 3rem;
    flex-flow: wrap;
    gap: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.box-img {
    height: 290px;
    width: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    background-image: url(/public/assets/img/franca.jpg)

}

.box-img img {
    width: 100%;

}

.porcentagem {
    position: absolute;
    background-color: rgb(255, 199, 72);
    margin: 0.5rem 0 0rem -0.5rem;
    padding: 0.2rem;
}

.box-style-img {
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) -0.08%, rgba(0, 0, 0, 0) 100.96%);
}

.nome-cidade {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.all-span {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.valores {
    text-decoration: line-through;
    padding: 0px 0.4rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.div-all-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.9rem 0px 2rem;
}

.div-all-valores span {
    color: #fff;
}

.valor-total span {
    font-size: 2.2rem;
    line-height: 2.7rem;
    font-weight: bold;
}

.valor-total span span {
    font-size: 3.2rem;
    line-height: 3.9rem;
    font-weight: bold;
}

.button-locais {
    width: 80%;
}

.button-locais button {
    height: 40px;
    border-radius: 2.7rem;
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    width: 100% !important;

}




.box-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 2rem;

}



/*INICIO VIDEOS SOBRE DESTINOS */


.sec-videos {
    /* background-color: rgb(170, 200, 255); */
    padding: 3rem 0;
    text-align: center;
}

.cards-videos-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-videos {
    background-color: #fff;
    box-shadow: 4px 4px 12px #5a5a5aaa;
    transition: 0.3s;
    width: 400px;
    margin: 15px;
    border-radius: 12px;
    overflow: hidden;
    /* aspect-ratio: 16 / 9; */
}

iframe.aspect {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.card-videos:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* INICIO LOCAIS */

.cidades_paises {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    /* flex: 1 1 calc(33% - 40px); */
}

.cidades_paises h4 {
    margin: 10px 0 5px;
    font-size: 1.5em;
    color: #333;
    width: 250px;
}

.cidades_paises h5 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #777;
}

.cidades_paises p {
    font-size: 1em;
    color: #555;
    text-align: left;
}

.cidades_paises img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

/*TABELA SAIBA MAIS*/
.nome_tabela {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
.nome_tabela h3 {
   padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    font-size: 14px;
}

td:first-child {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

button.enviar {
    background-color: #9ef5a1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button.enviar:hover {
    background-color: white;
    color: #4CAF50;
    /* Verde */
    border: 2px solid #4CAF50;
    /* Borda verde */
}


footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 20vh;
    display: flex;
    align-items: center;
    align-items: center;
    
}
.all-name-footer{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.all-name-footer a{
    color: #a3a3a3;
}
.name-footer{
    display: flex;
    flex-direction: column;
}

.name-footer a{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
#copyright{
    background-color: rgba(75, 75, 75, 0.8); 
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;

}

@media screen and (max-width: 800px){

    
    
}
@media screen and (max-width: 747px){

    
    
    #copyright{
        height: 10%;
    }
}

@media screen and (max-width: 660px){

form{
    display: flex;
    flex-direction: column;
    background-color: #4CAF50;
    width: 100%;
    padding: 2rem 2rem;
    
}

footer{
    height: 40vh;
}

.all-name-footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 20%;
}

#copyright{
    height: 10%;
}

}
@media screen and (max-width: 480px){

    
    
    #sobre{
        height: 120vhh;
    }
}