<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Site de viagem</title>
</head>

<body>
    <header>
        <div class="div-icon">
            <img src="/public/assets/img/logosemfundo-corte.png
            ">
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#destinos">Destinos</a></li>
                <li><a href="#info">Saiba mais</a></li>
                <li><a href="#contatos">Contato</a></li>
            </ul>
        </nav>
        <button class="button-login">Login</button>
    </header>
    <section id="sobre" class="sobre">
        <div class="sobre-text">
            <h1>Os melhores pacotes, hotéis e atividades para você!</h1>
            <h2>Neste espaço, você encontrará informações detalhadas sobre os destinos mais procurados, pacotes de
                viagens disponíveis e curiosidades sobre os passeios em diversos lugares.</h2>
        </div>
    </section>
    <section id="destinos" class="sec-destinos">
        <h2>Destinos mais pesquisados</h2>
        <div class="cards-all">
            <div class="card">
                <div class="div-img-destinos">
                    <img width="100%" height="180px" src="/public/assets/img/panagia.jpeg">
                </div>
                <div class="card-conteudo">
                    <h1>Mykonos</h1>
                    <h3>Localizada no coração do Mar Egeu, Mykonos combina paisagens deslumbrantes, praias paradisíacas
                        e uma vibrante vida noturna, fazendo dela uma
                        parada obrigatória para quem busca uma experiência inesquecível.</h3>
                    <span>R$ 00,00 <br></span>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
            <div class="card">
                <div class="div-img-destinos">
                    <img width="100%" height="180px" src="/public/assets/img/cancun.jpeg">
                </div>
                <div class="card-conteudo">
                    <h1>Cancún</h1>
                    <h3>Localizada na deslumbrante costa do Caribe mexicano, é um dos destinos turísticos mais populares
                        do mundo, conhecida por suas praias de areia branca, águas turquesa e uma vibrante vida noturna.
                    </h3>
                    <span>R$ 00,00</span>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
            <div class="card">
                <div class="div-img-destinos">
                    <img src="/public/assets/img/paris.jpg">
                </div>
                <div class="card-conteudo">
                    <h1>París</h1>
                    <h3>Com seus icônicos pontos turísticos como a Torre Eiffel, o Louvre e a Catedral de Notre-Dame, a
                        cidade oferece experiências inesquecíveis a cada esquina. </h3>
                    <span>R$ 00,00</span>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
            <div class="card">
                <div class="div-img-destinos">
                    <img src="/public/assets/img/barcelona.jpeg">
                </div>
                <div class="card-conteudo">
                    <h1>Barcelona</h1>
                    <h3>Barcelona, capital cosmopolita da região da Catalunha na Espanha, é conhecida pela sua arte e
                        arquitetura.
                        A fantástica igreja da Sagrada Família e outros monumentos modernistas projetados por Antoni
                        Gaudí marcam a cidade. </h3>
                    <span>R$ 00,00</span>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- <ul class="paises">
            <li><a href="#Grecia">Grécia</a></li>
            <li><a href="#Mexico">México</a></li>
            <li><a href="#França">França</a></li>
            <li><a href="#Espanha">Espanha</a></li>
        </ul> -->
    </section>
    <div id="info" class="informações">
        <div class="nome_tabela">
            <h3>Saiba mais sobre a cultura dos Países</h3>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Cidade</th>
                    <th>País</th>
                    <th>Clima</th>
                    <th>Pontos Turísticos</th>
                    <th>Gastronomia</th>
                    <th>Eventos Culturais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mykonos</td>
                    <td>Grécia</td>
                    <td>Verão quente, inverno suave</td>
                    <td>Little Venice, Windmills of Kato Mili, Delos Island</td>
                    <td>Moussaka, Gyros, Souvlaki</td>
                    <td>Festival de Música de Mykonos, Mykonos Biennale</td>
                </tr>
                <tr>
                    <td>Cancún</td>
                    <td>México</td>
                    <td>Quente e úmido o ano todo</td>
                    <td>Zona Hoteleira, Parque Xcaret, Ruínas de Tulum</td>
                    <td>Ceviche, Tacos, Guacamole</td>
                    <td>Festival de Vida e Morte, Carnaval de Cancún</td>
                </tr>
                <tr>
                    <td>Paris</td>
                    <td>França</td>
                    <td>Temperado, com invernos frios e verões amenos</td>
                    <td>Torre Eiffel, Museu do Louvre, Catedral de Notre-Dame</td>
                    <td>Croissants, Macarons, Coq au Vin</td>
                    <td>Festival de Música de Paris, Nuit Blanche</td>
                </tr>
                <tr>
                    <td>Barcelona</td>
                    <td>Espanha</td>
                    <td>Temperado, com invernos suaves e verões quentes</td>
                    <td>Sagrada Família, Parque Güell, Bairro Gótico</td>
                    <td>Tapas, Paella, Crema Catalana</td>
                    <td>Festival La Mercè, Carnaval de Barcelona</td>
                </tr>
            </tbody>
        </table>

    </div>

    <form id="contatos" class="reservar-pacote" action="contact.php" method="POST">
        <div class="title-form">
            <h3>Gostaria de reservar algum pacote?</h3>
        </div>
        <div class="todo-formulario">
            <div class="nome-email">
                <div class="div-label-input">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="div-label-input">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>
            <div class="radio-pacotes">
                <label>Pacote:</label>
                <div>
                    <input type="radio" id="grecia" name="pacote" value="grecia" required>
                    <label for="grecia">Grécia/Mykonos</label>
                </div>
                <div>
                    <input type="radio" id="mexico" name="pacote" value="mexico" required>
                    <label for="mexico">Mexico/Cancún</label>
                </div>
                <div>
                    <input type="radio" id="eua" name="pacote" value="eua" required>
                    <label for="frança">França/Paris</label>
                </div>
                <div>
                    <input type="radio" id="espanha" name="pacote" value="espanha" required>
                    <label for="espanha">Espanha/Barcelona</label>
                </div>
                <div>
                    <input type="radio" id="outro" name="pacote" value="outro" required>
                    <label for="outro">Outro destino</label>
                </div>

            </div>

            <label for="mensagem">Algum outro destino:</label>
            <textarea id="mensagem" name="mensagem" rows="4" cols="50"></textarea>
            <div>

                <label for="newsletter">Desejo receber informações por e-mail:</label>
                <div>
                    <input type="checkbox" id="newsletter" name="newsletter" value="sim">
                    <label for="newsletter">Sim</label>
                    <input type="checkbox" id="newsletter" name="newsletter" value="sim">
                    <label for="newsletter">Não</label>
                </div>
            </div>
            <div class="div-label-input">
                <button class="enviar" type="submit">Enviar</button>
            </div>
        </div>
    </form>

    <div class="titulo-local">
        <h2>VOOS COM DESCONTO PARA O MÊS DE JULHO</h2>
    </div>
    <div class="locais">
        <div id="mykonos" class="cidades_paises">
            <div>
                <img src="/public/assets/img/panagia.jpeg" alt="Igreja de Panagia Paraportiani, Mykonos" width="250"
                    height="200">
            </div>
            <div>
                <h4>Mykonos</h4>
                <h5>Grécia</h5>
                <p>Mykonos é uma ilha do arquipélago Cíclades no Mar Egeu. Ela é popularmente conhecida pela sua
                    atmosfera festiva no verão. Praias como Paradise e Super Paradise têm bares tocando música no
                    mais
                    alto
                    volume. Grandes danceterias atraem DJs mundialmente conhecidos, e normalmente ficam abertas até
                    bem
                    tarde.
                    Em Mykonos também tem passeios turísticos.</p>
            </div>
        </div>
        <div id="cancun" class="cidades_paises">
            <div>
                <img src="/public/assets/img/cancun.jpeg" alt="Cáncun, México" width="250" height="200">
            </div>
            <div>
                <h4>Cancún</h4>
                <h5>México</h5>
                <p>Cancún, uma cidade mexicana situada na Península de Iucatã, na costa do Mar do Caribe, é
                    conhecida
                    por suas praias, seus vários resorts e sua vida noturna. </p>
            </div>
        </div>
        <div id="paris" class="cidades_paises">
            <div>
                <img src="/public/assets/img/paris.jpg" alt="Paris, França" width="250" height="200">
            </div>
            <div>
                <h4>Paris</h4>
                <h5>França</h5>
                <p>Paris, a capital da França, é uma importante cidade europeia e um centro mundial de arte, moda,
                    gastronomia e cultura. Sua paisagem urbana do século XIX é cortada por avenidas largas e pelo
                    rio
                    Sena. A cidade é
                    conhecida por monumentos como a Torre Eiffel e a Catedral de Notre-Dame, uma construção gótica
                    do
                    século XII, sendo famosa também pela cultura dos cafés e por lojas de estilistas famosos na Rue
                    du
                    Faubourg
                    Saint-Honoré. </p>
            </div>
        </div>
        <div id="barcelona" class="cidades_paises">
            <div>
                <img src="/public/assets/img/barcelona.jpeg" alt="Barcelona, Espanha" width="250" height="200">
            </div>
            <div>
                <h4>Barcelona</h4>
                <h5>Espanha</h5>
                <p>Barcelona, capital cosmopolita da região da Catalunha na Espanha, é conhecida pela sua arte e
                    arquitetura. A
                    fantástica igreja da Sagrada Família e outros monumentos modernistas projetados por Antoni Gaudí
                    marcam
                    a
                    cidade </p>
            </div>
        </div>
    </div>
    <div class="valores-desconto">
        <div class="titulo-local">
            <h2>VOOS COM ATÉ 50% DE DESCONTO</h2>
        </div>
        <div class="box-promo">
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>

            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>
            </div>
            <div class="box-img">
                <span class="porcentagem">-50%</span>
                <div class="box-style-img">
                    <span class="nome-cidade">Aracaju</span>
                    <div class="div-all-valores">
                        <span class="all-span">
                            DE <span class="valores">R$ 545 </span>POR
                        </span>
                        <span class="valor-total">
                            <span class="">R$<span class="">272</span></span>
                        </span>

                    </div>
                    <div class="button-locais">
                        <button class="" tabindex="0" type="button">VER MAIS</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="sec-videos">
        <h2>Veja um pouco sobre os destinos</h2>
        <div class="cards-videos-all">
            <div class="card-videos">
                <div class="iframe.aspect">
                    <iframe width="100%" height="200"
                        src="https://www.youtube.com/embed/po2T3OX5WfE?si=1KtpH71zINarBDTs&amp;start=440"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="card-conteudo">
                    <h3>Mykonos</h3>
                    <h3>descrição</h3>
                </div>
            </div>
            <div class="card-videos">
                <div class="iframe.aspect">
                    <iframe width="100%" height="200"
                        src="https://www.youtube.com/embed/oMEJSBKcziU?si=jVCR2GWFHkRx8VQA&amp;start=7"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="card-conteudo">
                    <h3>Cancún</h3>
                    <h3>descrição</h3>
                </div>
            </div>
            <div class="card-videos">
                <div class="iframe.aspect">
                    <iframe width="100%" height="200"
                        src="https://www.youtube.com/embed/wroGPb4-3yM?si=7EXAVJxFXViwxc_U&amp;start=7"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="card-conteudo">
                    <h3>Paris</h3>
                    <h3>descrição</h3>
                </div>
            </div>
            <div class="card-videos">
                <div class="iframe.aspect">
                    <iframe width="100%" height="200"
                        src="https://www.youtube.com/embed/uOzwwZxjPRs?si=tCmIp5JGmQRz8NQi" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="card-conteudo">
                    <h3>Barcelona</h3>
                    <h3>descrição</h3>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <img src="/public/assets/img/logosemfundo-corte.png" alt="">
        <div class="all-name-footer">
            <div class="name-footer">
                <a>Camilla Aparecida Monteiro</a>
                <a>Filipe Augusto</a>
                <a>Victor Hugo</a>
                <a>Ryan Abranches</a>
            </div>
            <div  class="name-footer">
                <a>Camilla Aparecida Monteiro</a>
                <a>Filipe Augusto</a>
                <a>Victor Hugo</a>
                <a>Ryan Abranches</a>
            </div>
            <div  class="name-footer">
                <a>Camilla Aparecida Monteiro</a>
                <a>Filipe Augusto</a>
                <a>Victor Hugo</a>
                <a>Ryan Abranches</a>
            </div>
        </div>
       
    </footer>
    <div id="copyright">
        <p>Copyright ©2024 SITE VIAGEM. Todos os direitos reservados | Desenvolvido por estudantes </p>
    </div>
    <script src="/public/assets/script/style.js"></script>
</body>

</html>